/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.main-content {
  display: flex;
  height: 100%;
  background-color: lightgrey;
  justify-content: space-around;
}

.listing {
  background-color: lightblue;
}

.details {
  background-color: mediumaquamarine;
}
